@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --color-primario:#F7E7DC;
    --color-secundariio:#3A98B9;
    --color-terciario:#03346E;
    --color-hover: #0F67B1;

    --furnte-montserrat:"montserrat", sans serif;
    --fuente-krona:"Krona One", sans-serif;
}

*{
    padding: 0;
    margin: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--color-primario);
    color: var(--color-secundariio);
}

.header{
    padding: 2% 0% 0% 15%;
}

.header__menu{
    display: flex;
    gap: 80px;
}

.header__menu__link{
    font-family: var(--furnte-montserrat);
    font-size: 24px;
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;
}


.presentacion{
    padding: 6% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.presentacion__contenido{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion__contenido__titulo{
    font-size: 36px;
    font-family: var(--fuente-krona);
}

.tiutlo-destaque{
    color: var(--color-terciario);
}

.presentacion__contenido__texto{
    font-family:var(--furnte-montserrat);
    font-size: 24px;
}

.presentacion__enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;

}

.presentacion__enlaces__subtitulo{
    font-family:var(--fuente-krona);
    font-size: 24px;
    font-weight: 400;
}

.presentacion__enlaces__link{
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--color-secundariio);
    font-family: var(--furnte-montserrat);
    border: 2px solid var(--color-terciario);
    display: flex;
    justify-content: center;
    gap: 10px;
           
}
.presentacion__enlaces__link:hover{
    background-color: var(--color-hover);
}

.footer{
    background-color: var(--color-terciario);
    padding: 24px;
    color: var(--color-primario);
    text-align: center;
    font-family: var(--furnte-montserrat);
    font-size: 24px;
    font-weight: 400;
}